@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);

    --Blue-950: hsl(217, 54%, 11%);
    --Blue-900: hsl(216, 50%, 16%);
    --Blue-800: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--Blue-950);
    font-size: 18px;
}

/* -----------> Container <----------- */
.container{
    width: 330px;
    height: 545px;
    background-color: var(--Blue-900);
    margin: 60px auto;
    border-radius: 15px;
    overflow: hidden;
}
.container .subcontainer{
    margin: 25px;
    height: 495px;
}

/* -----------> Image <----------- */
.imageContainer .image{
    width: 100%;
    height: 280px;
    background-image: url(images/image-equilibrium.jpg);
    background-size: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.imageContainer .layer{
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.imageContainer .layer:hover{
    cursor: pointer;
    opacity: 1;
}
/* -----------> H1 & p <----------- */
.subcontainer h1{
    font-size: 1.222em;
    color: var(--Cyan-400);
    margin-top: 28px;
    font-weight: 600;
}
.subcontainer h1:hover{
    cursor: pointer;
    color: var(--White);
}
.subcontainer .paragraph{
    font-size: 0.889em;
    color: var(--Blue-500);
    font-weight: 200;
    margin-top: 16px;
}

/* -----------> Price Container <----------- */
.priceContainer{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ETHContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.priceContainer .iconETH{
    height: 18px;
    margin-right: 6px;
}
.priceContainer .ETH{
    font-size: 0.889em;
    font-weight: 600;
    color: var(--Cyan-400);
}
.clockConatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.priceContainer .clock{
    height: 16px;
    margin-right: 8px;
}
.priceContainer .timeLeft{
    font-size: 0.889em;
    color: var(--Blue-500);
    font-weight: 300;
}

/* -----------> Line <----------- */
.line{
    width: 100%;
    height: 1px;
    background-color: var(--Blue-800);
    margin-top: 14px;
}

/* -----------> Creator Container <----------- */
.creatorContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}
.creatorContainer img{
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 16px;
}
.creatorContainer .creator{
    font-size: 0.833em;
    color: var(--Blue-500);
}
.creatorContainer .name{
    color: var(--Cyan-400);
    margin-left: 2.5px;
}
.creatorContainer .name:hover{
    cursor: pointer;
    color: var(--White);
}
/* -----------> Footer <----------- */
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Cyan-400);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* -----------> 768px <----------- */
@media screen and (min-width: 768px) {
    /* -----------> Container <----------- */
    .container{
        width: 350px;
        height: 600px;
    }
    .container .subcontainer{
        height: 550px;
    }

    /* -----------> Image <----------- */
    .imageContainer .image{
        height: 300px;
    }

    /* -----------> H1 & p <----------- */
    .subcontainer .paragraph{
        margin-top: 22px;
        font-size: 1em;
    }

    /* -----------> Price Container <----------- */
    .priceContainer{
        margin-top: 28px;
    }

    /* -----------> Line <----------- */
    .line{
        margin-top: 22px;
    }

    /* -----------> Creator Container <----------- */
    .creatorContainer .creator{
        font-size: 0.9em;
    }
}