@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    background-color: var(--Pale-blue);
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* ------------> Container <------------ */
.container{
    height: 570px;
    width: 328px;
    overflow: hidden;
    margin: 70px auto;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/* ------------> Info Container <------------ */
.infoContainer{
    text-align: center;
    margin: 37px 40px 0 40px;
}
.infoContainer h1{
    font-size: 1.375em;
    font-weight: 900;
    color: var(--Dark-blue);
}
.infoContainer p{
    font-size: 0.938em;
    font-weight: 550;
    color: var(--Desaturated-blue);
    margin-top: 16px;
    line-height: 25px;
}

/* ------------> Plan Container <------------ */
.planContainer{
    width: 278px;
    height: 80px;
    background-color: var(--Very-pale-blue);
    display: flex;
    align-items: center;
    margin: 24px auto;
    border-radius: 10px;
}
.planContainer .superContainer{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.planContainer .musicIcon{
    margin-right: 22px;
}
.planContainer .priceContainer{
    margin-right: 50px;
}
.planContainer .priceContainer .annualPlan{
    font-size: 0.875em;
    font-weight: 900;
    color: var(--Dark-blue);
    margin-bottom: 5px;
}
.planContainer .priceContainer .price{
    font-size: 0.88em;
    font-weight: 600;
    color: var(--Desaturated-blue);
}
.planContainer a{
    font-size: 0.8em;
    font-weight: 800; 
}
.planContainer a:hover{
    text-decoration: none;
    color: var(--Desaturated-blue);
}
/* ------------> Button Container <------------ */
.buttonContainer{
    text-align: center;
    
}
.buttonContainer button{
    width: 280px;
    height: 50px;
    cursor: pointer;
    border-radius: 12px;
    font-family: "Red Hat Display", sans-serif;
    font-size: 0.9em;
    font-weight: 900;
}
.buttonContainer .proced{
    background-color: var(--Bright-blue);
    color: white;
    margin-bottom: 3px;
}
.buttonContainer .proced:hover{
    background-color: var(--Desaturated-blue);
}
.buttonContainer .cancel{
    background-color: white;
    color: var(--Desaturated-blue);
}
.buttonContainer .cancel:hover{
    color: var(--Dark-blue);
}
/* ------------> Footer <------------ */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ------------> 768px <------------ */
@media screen and (min-width: 768px) {
    body{
        background-image: url(images/pattern-background-desktop.svg);
    }

    /* ------------> Container <------------ */
    .container{
        height: 700px;
        width: 450px;
    }

    /* ------------> Info Container <------------ */
    .infoContainer{
        margin: 50px 78px 0 78px;
    }
    .infoContainer h1{
        font-size: 1.875em;
    }
    .infoContainer p{
        font-size: 1em;
        margin-top: 20px;
    }

    /* ------------> Plan Container <------------ */
    .planContainer{
        width: 355px;
        height: 100px;
        margin: 32px auto;
    }
    .planContainer .musicIcon{
        margin-right: 22px;
    }
    .planContainer .priceContainer{
        margin-right: 92px;
    }
    .planContainer .priceContainer .annualPlan{
        font-size: 1em;
    }
    .planContainer .priceContainer .price{
        font-size: 1em;
    }
    .planContainer a{
        font-size: 1em;
    }
    /* ------------> Button Container <------------ */
    .buttonContainer button{
        width: 355px;

    }
    .buttonContainer .proced{
        margin-bottom: 4px;
    }
}